*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;

}
.parallax{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

}
.base{
    z-index: -3;
    transform: translateZ(-40px) scale(5);
}
.middle{
    z-index: -1;
    transform: translateZ(-30px) scale(4);
}
.front{
    z-index: 0;
    transform: translateZ(-20px) scale(3);
}
.ground{
    position: absolute;
    top: 620px;;
    transform: translateZ(-10px) scale(3);
}



h1{ 
    transform: translateZ(-26px) scale(4);
    color: white;
    position: static;
    font-size: 5rem;
    letter-spacing: 10px;
    z-index: -2;
}
.base, .middle, .front{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section{
    background-color: rgba(45, 45, 45);
    color: white;
    padding: 5rem 0rem;
    position: absolute;
    width: 100vw;
}
.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
    position: relative;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}

.bg1 a img{
    height: 500px;
    width: 500px;
    
}
.bg1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    color: black;
    top: 50%;
    left: 50%;
}
